<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
<tr>
    <td>%s</td>
    <td>%s</td>
    <td>%s</td>
    <td>%s</td>
    <td>%s</td>
    <td>%s</td>
    <td>%s</td>
    <td>
        <a type="button" class="btn btn-default btn-xs" href="/update/300268.html"> <span class="glyphicon glyphicon-
        star" aria-hidden="true"></span> 修改 </a>
    </td>
    <td>
        <input type="button" value="删除" id="toDel" name="toDel" systemidvalue="300268">
    </td>
</tr>

</body>
</html>